/* This file is for your main application css. */
.green-bar{
  background-color: green
}
.blue-bar{
  background-color: blue
}
.yellow-bar{
  background-color: yellow
}
.red-bar{
  background-color: red
}
.orange-bar{
  background-color: orange
}
.brown-bar{
  background-color: brown
}

.text-font {
  font-size: 20px;
}

#textCurrent {
  color: #5bc0de
}