<div th:fragment="authorization">
	<br>
	<div id="app">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="blue margin0">Autorización de comisiones</h3>
			</div>
			<br class="clear">
			<br>
			<div class="col-lg-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Mensual</a></li>
					<!--<li><a data-toggle="tab" href="#menu1">Trimestral</a></li>-->
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<h4 class="block orange"><i class="fa fa-user" aria-hidden="true"></i></h4>
				<h4 class="block orange margin0">ANA LILIA AGUIRRE PRESA</h4>
				<br>
				<h4 class="block blue margin0">Jefe de Programa</h4>
				<br>
				<h4 class="block margin0">Queretaro</h4>
				<br>
				<h4 class="block margin0 orange">Periodo 1: 1 de Enero al 15 de Enero 2017</h4>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-md-2 col-lg-2">
			<div style="border:1px solid silver; padding:5px; background-color: #dff0d8 !important" class="bg-success text-success text-center">
					<h5 class="margin0">Comisión a pagar</h5>
					<h4 class="">$ 25,000.00</h4>
			</div>
	</div>
	<div class="col-md-2 col-lg-2">
		<div style="border:1px solid silver; padding:5px; background-color: #d9edf7 !important" class="bg-info text-info text-center">
				<h5 class="margin0">Ingresos</h5>
				<h4 class="">10</h4>
		</div>
</div>
<div class="col-md-2 col-lg-2">
	<div style="border:1px solid silver; padding:5px; background-color: #d9edf7 !important" class="bg-info text-info text-center">
			<h5 class="margin0">Materias inscritas</h5>
			<h4 class="">5</h4>
	</div>
</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12">
				<h3 class="blue margin0">Promotores</h3>
		</div>
		</div>
	</div>
</div>
<div th:fragment="js">
	<script src="/js/authorization/index.js"></script>
</div>