<div th:fragment="campaign" id="app" class="display_current">
  <div class="loading" v-if="loader.loading" style="height: 505%;"></div>
  <ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
  <vue-snotify></vue-snotify>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">Administrador de Campañas</h3>
    </div>
  </div>
  <hr>
<section id="tabs" class="project-tab">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" @click="getYear(lastYear)">{{lastYear}}</a>
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" @click="getYear(year)">{{year}}</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" @click="getYear(nextYear)">{{nextYear}}</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Periodo</th>
                                            <th>Año</th>
                                            <th>Estado</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="element in campaigns">
                                            <td>
                                                <input type="text" name="" id="" v-model="element.campaign.name" class="form-control" :disabled=!element.editable>
                                            </td>
                                            <td>{{element.campaign.period}}</td>
                                            <td>{{element.campaign.year}}</td>
                                            <td>{{element.campaign.status}}</td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.initDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.endDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.endDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.endDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
                                                <i v-if="!element.editable" class="fa fa-pencil fa-2x" aria-hidden="true" @click="element.editable = !element.editable"></i>
                                                <i v-else class="fa fa-paper-plane-o fa-2x" aria-hidden="true" @click="updateCampaign(element.campaign); element.editable = !element.editable"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Periodo</th>
                                            <th>Año</th>
                                            <th>Estado</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="element in campaigns">
                                            <td>
                                                <input type="text" name="" id="" v-model="element.campaign.name" class="form-control" :disabled=!element.editable>
                                            </td>
                                            <td>{{element.campaign.period}}</td>
                                            <td>{{element.campaign.year}}</td>
                                            <td>{{element.campaign.status}}</td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.initDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.initDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.endDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.endDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
                                                <i v-if="!element.editable" class="fa fa-pencil fa-2x" aria-hidden="true" @click="element.editable = !element.editable"></i>
                                                <i v-else class="fa fa-paper-plane-o fa-2x" aria-hidden="true" @click="updateCampaign(element.campaign); element.editable = !element.editable"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Periodo</th>
                                            <th>Año</th>
                                            <th>Estado</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="element in campaigns">
                                            <td>
                                                <input type="text" name="" id="" v-model="element.campaign.name" class="form-control" :disabled=!element.editable>
                                            </td>
                                            <td>{{element.campaign.period}}</td>
                                            <td>{{element.campaign.year}}</td>
                                            <td>{{element.campaign.status}}</td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.initDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.initDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
						                        <label for="" v-if="!element.editable">
                                                {{element.campaign.endDate | removeExtendTime}}
                                                </label>
						                        <date-pick v-else v-model="element.campaign.endDate" :months="date.months" :weekdays="date.weekDays" :format="'YYYY-MM-DD'"></date-pick>
                                            </td>
                                            <td>
                                                <i v-if="!element.editable" class="fa fa-pencil fa-2x" aria-hidden="true" @click="element.editable = !element.editable"></i>
                                                <i v-else class="fa fa-paper-plane-o fa-2x" aria-hidden="true" @click="updateCampaign(element.campaign); element.editable = !element.editable"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
</div>
<div th:fragment="js">
  <script src="/js/administration/campaign.js"></script>
</div>