<div th:fragment="goal" id="app">
  <div class="loading" v-if="loader.loading"></div>
  <ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
  <vue-snotify></vue-snotify>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">Administrador de metas por campañas</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2">
      <label for="exampleInputName2">Año</label>
      <br class="clear">
      <label class="radio-inline">
        <input type="radio" name="year" id="inlineRadio1" :value="year" v-model="yearSelected" @change="getCampaings"> {{year}}
      </label>
      <label class="radio-inline">
        <input type="radio" name="year" id="inlineRadio2" :value="year + 1" v-model="yearSelected" @change="getCampaings"> {{year + 1}}
      </label>
    </div>
    <div class="col-lg-3">
      <label for="exampleInputName2">Campaña</label>
      <select class="form-control" @change="getCampaing()" v-model.number="selectedCamping">
        <option v-for="(campaign, index) in campaigns" :value="index">
          {{campaign.name}} - {{campaign.clave}}
        </option>
      </select>
    </div>
    <div class="col-md-2 col-lg-2">
      <button style="margin-top:35px;" id="buttonBuscar" class="btn btn-block btn-sm btn-primary"><i
          class="fa fa-search" aria-hidden="true" @click="getCampaing()"></i> Buscar</button>
    </div>
  </div>
  <hr>
  <br>
  <div id="tabla1" class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>Clave</th>
            <th>Nombre de campaña</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Metas</th>
          </tr>
          <tr>
            <td>{{campaign.name}}</td>
            <td>{{campaign.name}}</td>
            <td>{{campaign.initDate | removeExtendTime}}</td>
            <td>{{campaign.endDate | removeExtendTime}}</td>
            <td><button id="buttonAgregar" class="btn btn-primary btn-xs btn-block"><i class="fa fa-plus"
                  aria-hidden="true"></i> Agregar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br class="clear">
  <hr>
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>Campus</th>
            <th>Tipo</th>
            <th>No. de registro</th>
            <th>% de comisión</th>
            <th></th>
          </tr>
          <tr>
            <td>CMX</td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked="">
                  Inscritos
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">
                  Sentados
                </label>
              </div>
            </td>
            <td><input type="email" class="form-control" id="inputEmail"></td>
            <td><input type="email" class="form-control" id="inputEmail" value="1%"></td>
            <td><a class="btn btn-success btn-xs btn-block">Guardar</a></td>
          </tr>
          <tr>
            <td>TOL</td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  Inscritos
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Sentados
                </label>
              </div>
            </td>
            <td><input type="email" class="form-control" id="inputEmail"></td>
            <td><input type="email" class="form-control" id="inputEmail" value="1%"></td>
            <td><a class="btn btn-success btn-xs btn-block">Guardar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<div th:fragment="js">
  <script src="/js/administration/goal.js"></script>
</div>