<div th:fragment="queryProcess" id="app" class="display_current">
    <div class="loading" v-if="loader.loading" style="height: 505%;"></div>
    <ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
    <vue-snotify></vue-snotify>
      <b-modal id="modal-download" title="Archivo sicoss">
          <h1 class="margin0 text-success text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i></h1>
          <h4 class="text-center">Periodo: <span class="text-success">({{query.selectInit}} al {{query.selectFin}})</span></h4>
          <div class="row">
              <div class="col-lg-3"></div>
               <div class="col-lg-6">
                   <button :disable="waitingExcel" @click="generateExcel" class="btn btn-warning btn-block btn-sm">
                     <i class="fa fa-cloud-download" aria-hidden="true" v-if="!waitingExcel"></i>
                     <i class="fa fa-refresh fa-spin" v-else></i>
                     Descargar layout SICOSS</button>
               </div>
              <div class="col-lg-3"></div>
           </div>
          <template slot="modal-footer" class="w-100">
              <b-button variant="primary" size="sm" class="float-right" @click="$bvModal.hide('modal-download')">
                Cerrar
              </b-button>
          </template>
      </b-modal>
    <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">General</h3>
    </div>
    <br class="clear">
    <hr>
    <div class="col-lg-3">
	    <label for="selectCampus">Fecha inicio</label>
	    <date-pick v-model="query.selectInit" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
    </div>
    <div class="col-lg-3">
	    <label for="selectCampus">Fecha Fin</label>
	    <date-pick v-model="query.selectFin" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
    </div>
    <div class="col-md-4 col-lg-2">
      <label for="exampleInputPassword1">No. Empleado</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="No. Empleado" v-model="query.clave">

    </div>
    <div class="col-lg-3">
      <button style="margin-top:35px;" data-toggle="modal" data-target="#myModal"
        class="btn btn-sm btn-success btn-block" @click="getCommissionsToEmployee">Consultar SICOSS</button>
    </div>
    <br class="clear">
    <br>
  </div>
</div>
<div th:fragment="js">
  <script src="/js/sicoss/queryProcess.js"></script>
</div>