<div th:fragment="queryAuthorization"  id="app" class="display_current">
	<br>
	<b-modal id="modal-denegate" title="Motivo de rechazo">
			<textarea type="text" name="" id="" v-model="comment_denegate" class="form-control" rows="5"></textarea>
			<template slot="modal-footer" class="w-100">
					<b-button variant="primary" size="sm" class="float-right" @click="$bvModal.hide('modal-denegate')">
						Cerrar
					</b-button>
			</template>
	</b-modal>
	<div id="app_nothing">
		<div class="loading" v-if="loader.loading"></div>
		<ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
		<div class="row">
				<div class="col-lg-12">
						<h3 class="blue margin0">Consulta de comisiones</h3>
					</div>
		</div>
		<hr>
		<template-comission-search :loader="loader" :data-to-table="commissionsToTable" :date="date"></template-comission-search>
		<hr>
		<div class="row">
			<div class="col-lg-12">
				<div class="float-right">
					<button class="btn btn-block btn-sm btn-success" v-if="commissionsToTable.length" @click="onexport">Export xlxs <i class="fa fa-file-excel-o"></i></button>
				</div>
			</div>
		</div>
		<div class="row" v-if="typeReport == 'Detallado'">
			<div class="col-md-12 col-lg-12">
					<table class="table table-bordered table-striped" style="font-size: 12px;" id="tableCommissions">
					 <tbody><tr>
							 <th>Promotor</th>
							 <th>Comisión promotor</th>
							 <th>Coordinador</th>
							 <th>Comisión Coord</th>
							 <th>Periodo de inscripción</th>
							 <th>Alumno</th>
							 <th>Fecha de Pago</th>
							 <th>Monto colegiatura inicial</th>
							 <th>% Beneficios</th>
							 <th>Fecha autorización</th>
							 <th>Registro</th>
							 <th>Rector</th>
							 <th>Marketing</th>

					 </tr>
						<tr v-for="(alumno, index) in commissionsToTable">
								<td>{{alumno.nombrePromotor}} - <b>{{alumno.idPromotor}} </b></td>
								<td>{{alumno.comision | removeDecimal }}</td>
								<td>{{alumno.nombreCoordinador}} - <b>{{alumno.idCoordinador}}</b></td>
								<td>{{alumno.comisionCoordinador}}</td>
								<td>{{alumno.periodo}}</td>
								<td>{{alumno.nombreAlumno}} - <b>{{alumno.idAlumno}}</b></td>
								<td>{{alumno.fechaDePago}}</td>
								<td class="text-center"><span class="block">$ {{alumno.pagoInicial}}</span> <a href="'https://ssb8.ebc.edu.mx/prod/bvskmctx.P_DispViewAcct?p_pidm='+alumno.pidm" class=""><br class="clear"><span style="font-size:1.2em;"><i class="fa fa-file-text-o" aria-hidden="true"></i></span></a></td>
								<td>{{alumno.discountPercent}}</td>
								<td>{{alumno.fechaAutorizado | removeExtendTime}}</td>
								<td>
									<span v-if="alumno.autorizadoDirector == 'AUTORIZADO'" class="badge badge-success" style="font-size: 7px;">
										{{alumno.autorizadoDirector | filterStatus}}
									</span>
									<span v-else-if="alumno.autorizadoDirector == 'RECHAZADA'" class="badge badge-danger"  @click="show_comment(alumno.comment)" style="font-size: 7px;">
										{{alumno.autorizadoDirector | filterStatus}}
									</span>
									<span v-else	class="badge badge-warning" style="font-size: 7px;">
										{{alumno.autorizadoDirector | filterStatus}}
									</span>
								</td>
								<td> <span class="badge badge-success" style="font-size: 7px;">{{alumno.statusRector | setTextToRector}}</span> </td>
								<td> <span class="badge badge-success" style="font-size: 7px;">{{alumno.statusMarketing | setTextToMarketing}}</span></td>
						</tr>
					</tbody></table>
			</div>
		</div>
		<div class="row" v-else>
				<div class="col-md-8 col-lg-8" id="general" style="">
            <table class="table table-bordered table-striped">
             <tbody><tr>
                 <th>Puesto</th>
                 <th>Nombre</th>
                 <th>No. Alumnos inscritos</th>
                 <th>Periodo</th>
                 <th>Comisión total</th>
             </tr>
              <tr v-for="(promoter, index) in groups">
                  <td>{{promoter.job}}</td>
                  <td>{{promoter.namePromoter}} - <b>{{promoter.idPromoter}}</b></td>
                  <td>{{promoter.numberStudents}}</td>
                  <td>{{searchData.selectInit}} - {{searchData.selectFin}}</td>
                  <td>{{promoter.comission | removeDecimal}}</td>
              </tr>
            </tbody></table>
        </div>
		</div>
	</div>
</div>
<div th:fragment="js">
  <link rel="stylesheet" href="/css/authorization_style.css" />
	<script src="/js/authorization/searchCommissionComponent.js"></script>
	<script src="/js/authorization/queryAuthorization.js"></script>
</div>