<div th:fragment="show">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">Administrador de Comisiones</h3>
    </div>
  </div>
  <hr>
  <form action="/administration/updateComission" method="get">
    <div class="row">
      <div class="col-lg-6">
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Porcentaje de comisión promotor Coord. de Mercadotecnia</span>
              </div>
              <input type="number" pattern="[0-9]" name="comissionEjecutiva" min="0" max="99" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${comissionEjecutiva}">
            </div>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Porcentaje de comisión promotor</span>
              </div>
              <input type="number" pattern="[0-9]" name="comissionCordinacion" min="0" max="99" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:value="${comissionCordinacion}">
            </div>
      </div>
      <div class="col-lg-6">
          <button type="submit" class="btn btn-primary" role="button">Actualizar</button>
      </div>
    </div>
    </form>
    <div class="row">

      <div class="col-lg-12">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Campus</th>
                  <th scope="col">Cuota Fija</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <form action="/administration/updateCuotaFija" method="get" th:each="comission: ${comisionesList}">
                  <tr>
                    <th scope="row" th:text="${comission.campusDesc}"></th>
                    <td>
                      <input type="number"  pattern="[0-9]" min="0" max="99999" name="cuotaFija" th:value="${comission.cuotaFija}" class="form-control" id="cuotaFija">
                    </td>
                    <td>
                      <input id="id" th:value="${comission.id}" name="id" type="hidden">
                      <button type="submit" class="btn btn-primary" role="button">Actualizar</button>
                    </td>
                  </tr>
                </form>
              </tbody>
            </table>
      </div>
    </div>
</div>