<div th:fragment="sicoss">
	<br>
	<div id="app">
		<div class="loading" v-if="loader.loading"></div>
		<ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">Sicoss</h3>
    </div>
  </div>
	<hr>
	<br>
	<div class="row">
			<div class="col-lg-2">
				<label for="selectCampus">Campus</label>
				<div id="filter-campus">
					<select v-model="date.campusSelected" class="form-control">
						<!-- inline object literal -->
						<option value="TODOS">Todos</option>
						<option v-for="(k, v) in campuses" v-bind:value="v">
							{{ k }}
						</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2">
				<label for="selectCampus">Fecha inicio</label>
				<date-pick v-model="date.selectInit" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
			</div>
			<div class="col-lg-2">
				<label for="selectCampus">Fecha Fin</label>
				<date-pick v-model="date.selectFin" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-primary mb-2" style="margin-top: 30px;" @click="getSicoss()">Buscar</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">
					<table class="table table-striped table-inverse">
							<thead class="thead-inverse">
								<tr>
									<th>Campus</th>
									<th>Pdf (Manual)</th>
									<th>Excel (Sicoss)</th>
								</tr>
								</thead>
								<tbody>
									<tr v-for="(v, k) in groups">
										<td scope="row">{{k}}</td>
										<td><button type="button" class="btn btn-primary" @click="generatePDF(k)"><i class="fa fa-file-excel-o" aria-hidden="true" ></i> Descargar</button></td>
										<td><button type="button" class="btn btn-primary" @click="generateExcel(k)"><i class="fa fa-file-pdf-o" aria-hidden="true" ></i> Descargar</button></td>
									</tr>
								</tbody>
						</table>
			</div>

		</div>
		<div class="">

		</div>
		<div class="row" v-show="false">
			<table class="table" id="tableToPdf">
				<thead>
					<tr>
						<th>CAMPUS</th>
						<th>CLAVE EMPLEADO</th>
						<th>APELLIDOS</th>
						<th>NOMBRE(S)</th>
						<th>TIPO DE PAGO</th>
						<th>CLAVE DE LA RECEPCION</th>
						<th>TOTAL A PAGAR</th>
						<th>FECHA DE PAGO</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="element in dataToTable">
						<td scope="row">{{element.campus}}</td>
						<td>{{element.promoter ? element.promoter.clavePromoter : 0}}</td>
						<td>{{element.promoter ? element.promoter.apellidosPromoter : element.authorization.nombrePromotor}}</td>
						<td>{{element.promoter ? element.promoter.promoterName : element.authorization.nombrePromotor}}</td>
						<td>N</td>
						<td>422</td>
						<td>{{element.authorization.pagoInicial}}</td>
						<td>{{element.authorization.fechaDePago | removeExtendTime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
</div>
<div th:fragment="js">
	<script src="/js/authorization/sicoss.js"></script>
</div>