<div th:fragment="sicoss">
	<br>
	<div id="app">
		<div class="loading" v-if="loader.loading"></div>
		<ring-loader :loading="loader.loading" :color="loader.color" :size="loader.size" class="custom-spinner"></ring-loader>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="blue margin0">Sicoss</h3>
    </div>
  </div>
	<hr>
	<br>
	<div class="row">
			<div class="col-lg-2">
				<label for="selectCampus">Campus</label>
				<div id="filter-campus">
					<select v-model="date.campusSelected" class="form-control">
						<!-- inline object literal -->
						<option v-for="(k, v) in campuses" v-bind:value="v">
							{{ k }}
						</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2">
				<label for="selectCampus">Fecha inicio</label>
				<date-pick v-model="date.selectInit" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
			</div>
			<div class="col-lg-2">
				<label for="selectCampus">Fecha Fin</label>
				<date-pick v-model="date.selectFin" :months="date.months" :weekdays="date.weekDays" :format="'DD/MM/YYYY'"></date-pick>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-primary mb-2" style="margin-top: 30px;" @click="getSicoss()">Buscar</button>
			</div>
		</div>
		</div>
</div>
<div th:fragment="js">
	<script src="/js/authorization/sicoss.js"></script>
</div>