.error  {
  border-color: rgba(229, 103, 23, 0.8) !important;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
  outline: 0 none !important;
}
#textCurrent {
  text-decoration: brown;
  color: darkslateblue;
}
#cursorText {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.scott {
  height: 140px;
  width: 108px;
  background-image: url("/images/scottpilgrim.png");
}

.rooms {
  float: right;
  position: fixed;
  margin-left: 45%;
  z-index: 1000;
  margin-top: 1%;
  top: 270px;
}

@media (max-width: 1690px){
  .rooms{
    margin-left: 55%;
  }
}
@media (max-width: 1300px){
  .rooms{
    margin-left: 60%;
  }
}