<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="description" content="overview &amp; stats">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Comisiones</title>
  <link rel="stylesheet" href="/third-party/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/third-party/vue-snotify/styles/material.css" />
  <link rel="stylesheet" href="/third-party/bootstrap-vue/dist/bootstrap-vue.min.css" />
  <link rel="stylesheet" href="/third-party/vue-date-pick/dist/vueDatePick.css" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>