        <head>
          <title>Comisiones</title>
          <link rel="stylesheet" href="/third-party/bootstrap/dist/css/bootstrap.min.css" />
          <link rel="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css" />
          <link rel="stylesheet" href="/css/style.css" />
          <link rel="stylesheet" href="/third-party/vue-snotify/styles/material.css" />
          <link rel="stylesheet" href="/third-party/bootstrap-vue/dist/bootstrap-vue.min.css" />
          <script src="/third-party/vue/dist/vue.js"></script>
          <script src="/third-party/vue-resource/dist/vue-resource.min.js"></script>
          <script src="/third-party/vue-snotify/vue-snotify.min.js"></script>
          <script src="/third-party/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
          <script src="/third-party/vue-spinner/dist/vue-spinner.min.js"></script>
        </head>
