{{> header}}
<div class="container">
	<br>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="blue margin0">Asociación de Coordinador de Mercadotecnia y Promotor</h3>
		</div>
	</div>
	<hr>
<div id="app">
	<template-search></template-search>
<hr>
	<template-promoter></template-promoter>
</div>
</div>



<script src="/js/promoter/searchComponent.js"></script>
<script src="/js/promoter/promoterComponent.js"></script>
<script src="/js/promoter/index.js"></script>
{{> footer}}