<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ExTyperacer!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">Makingdevs</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1">
                <%= if @maybe_user == nil do %>
                  <p class="" role="alert"><%= get_flash(@conn, :info) %></p>
                  <li class="nav-item order-2 order-md-1"><a href="#" data-toggle="modal" data-target="#registerModal" class="nav-link" title="settings"><i class="fa fa-user fa-fw fa-lg"></i></a></li>
                   <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="px-3 py-2">
                            <%= form_for @changeset, @action, fn f -> %>
                                <div class="form-group">
                                    <input id="username" name="person[username]" placeholder="Username" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="password" name="person[password]" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                    <df style="
                                    margin: 30px;">
                                        Iniciar sesión con facebook
                                    </df>
                                    </a>
                                </div>
                            <% end %>
                        </li>
                    </ul>
                </li>
                <% else %>
                  <p>Hello <%= @maybe_user.username%>!</p>
                 <li class="nav-item order-2 order-md-1 " style="margin: 3px;">     </li>
                  <li class="nav-item order-2 order-md-1">
                  <span><%= link(" ", to: page_path(@conn, :logout), method: :post, class: "fa fa-user-times") %></span>
                  
                  </li>
                <% end %>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
      <header class="header" style="margin-top: 10%;">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      
      

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
