<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>. : Keyboard Heroes : .</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/login.css") %>">
  </head>
  <body style="background-image: url('http://www.techcredo.com/wp-content/uploads/2012/11/retro-8-bit-pixelart-wallpapers-19.jpg')">

    <%= render @view_module, @view_template, assigns %>

  </body>
</html>

