<div class="jumbotron" id="initMenu">
  <button class="btn btn-primary" id="start-room">Iniciar una partida</button>
  <button class="btn btn-primary" id="start-multi">Unirse a una partida</button>
</div>

 <%= render "run_text.html" %>
 <%= render "timer_template.html" %>
 <%= render "list_users.html" %>

