<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ExTyperacer!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body>
            <canvas id="canvas" width="200" height="100">

      </canvas>
    <%= @token %>
    <%= if @token == "showing" do %>
    <div class="container">
        <h2>Nueva contraseña</h2>
        <form action="/restore_pass" method="post" id="restore_form">
          <div class="form-group">
            <input type="hidden" name="_csrf_token" id="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>" />
            <label for="new_pass">New Password:</label>
            <input type="password" class="form-control" id="repeat_password" placeholder="Enter password" name="repeat_password">
          </div>
          <div class="form-group">
            <label for="new_pass_rep">Repeat Password: <i class="fa fa-check" id="icon_check"></i> <i class="fa fa-exclamation-triangle" id="icon_warning"></i></label>
            <input type="password" class="form-control" id="new_password" placeholder="Enter password" name="new_password">
            <%= hidden_input :id, :id, value: @id %>
          </div>
        </form>
          <button type="submit" id="change_button"class="btn btn-primary">Cambiar</button>
      </div> 
      <% else %>
      <div class="container">
        <h2>Token invalido o ha expirado</h2>
      </div>
      <% end %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

</body>
</html>