<script id="timer_area" type="text/x-handlebars-template">
<div class="jumbotron">
  <p id="idRoom" class="lead">Id de la Sala: {{process}}</p>
  <p id="status" class="lead">Ready</p>
  <p id="timer" class="lead"></p>
  <button class="btn btn-primary" id="start-timer">Start Timer</button>
  <input type="hidden" value="{{{link_to_shared}}}" id="link_input">
  <button class="btn btn-primary" id="link_to_shared">Shared <i class="fa fa-share-alt-square"></i></button>
</div>
</script>
